.CategorySearchDropdown{
    background-color: white;
    height: 243px;
    min-width: 237px;
    position: absolute;
    top: 100%;
    left: 0px;
    box-shadow: 0px 10px 10px #c0bebe;
    z-index: 9999999999999999999;
}


.searchField {
    padding: 10px 8px 0px 2px;
    border-radius: 8px;
    input {
        width: 100%;
        outline: 1px solid gray !important;
        border-radius: 14px;
        margin-top: 2px;
        padding: 4px;
    }
}

.searchResult{
   text-align: left;
    padding: 0px 10px;
    line-height: 30px;
    overflow-y: scroll;
    height: 183px;
    margin-top: 7px;
    li {
        list-style: none;   
        padding: 5px;    
    }
}

.searchResult::-webkit-scrollbar {
    width: 5px;
}
.searchResult::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 100px;
}

.searchResult li:hover{
    background-color: green;
    color: white;
    padding-left: 5px;
    border-radius: 4px;
    cursor: pointer;
}


